@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
}

header {  
  width: 100%;
  min-height: 80px;
  background: #264837;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

a{
  color: white;
}
.container {
  color: #ffffff;
  text-align: center;
}
.container button, .sair {
  color: #ffffff;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.week {
  max-width: 100vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.week > form {
    width: auto;
}

.week-days {
  display: flex;
  flex-wrap: wrap;
  background: #f4f4f4;
  margin-bottom: 4rem;
  padding: 0.5rem;
  justify-content: space-between;
  border-radius: 15px;
}

.my-button {
  font-size: 16px;
  padding: 0.2rem;
  margin: 0rem 0.3rem 0rem 0.3rem;
  color: white;
  border: none;
  border-radius: 10px;
  background: #979797;
  width: 36px;
  height: 36px;
  cursor: pointer;
  flex-shrink: 0;
}

.my-button.active {
  background-color: #67e074;
  transition: all 0.2s ease;
}

.week-btn {
  width: 7rem;
  background-color: #daf3e1;
  border: none;
  border-radius: 15px;
  padding: 1rem 1.5rem;
  font-size: 16px;
  color: rgb(55, 55, 55);
  font: bold;
  cursor: pointer;
}

.week-btn:hover {
  background: #264837;
  color: rgb(55, 55, 55);
  color: white;
  transition: all 0.2s ease;
}

.reminder {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-block-end: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.card {
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-separator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: self-end;
}

.reminder {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 0rem;
  background-color: #fcfcfc;
  border: 1px solid #d3d3d3;
  border-radius: 16px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.reminder > form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 670px) {
  .cards-container, .reminder {
    width: 100%;
  }
}

.plant-management {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.plant-management button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 50%;
}

.plant-management button:hover {
  background: white;
  transition: all 0.2s ease;
}

.plant-management button svg {
  height: 34px;
  width: 34px;
}
form {
  width: 100%;
  height: 100%;
}

.checkbox {
  cursor: pointer;
  appearance: none;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 3px solid #3e7a44;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 0 2rem 0 1rem;
}

.checkbox:before {
  content: "";
  width: 110%;
  height: 110%;
  background-color: #3e7a44;
  border-radius: 50%;
  border: 3px solid #8ecd57;
  opacity: 0;
  transition: all 200ms ease-in-out;
  position: absolute;
}

.checkbox-checked {
  cursor: pointer;
  appearance: none;
  width: 45px;
  height: 45px;
  background-color: #3e7a44;
  border: 3px solid #3e7a44;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 0 2rem 0 1rem;
}

.checkbox-checked:before {
  content: "✓";
  width: 110%;
  height: 110%;
  background-color: #3e7a44;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card:has(input:checked) {
  background: linear-gradient(to left, #94d85c 50%, #e8e8e8 50%) right;
  background-size: 200% 100%;
  transition: all 200ms ease-out;
}

.card:not(:has(input:checked)) {
  background: linear-gradient(to right, #e8e8e8 50%, #94d85c 50%) left;
  background-size: 200% 100%;
  transition: all 200ms ease-out;
}

.checkbox:checked:before {
  opacity: 1;
}

.checkbox:focus {
  box-shadow: 0 0 5px #3e7a44;
}

.title {
  font-size: 16px;
  margin-bottom: 10%;
}

.input {
  width: 100%;
  border: 22px;
  border-bottom: 1px solid #c9c9c9;
  padding: 5px;
  margin: 0px 0px 12px 0px;
  margin: 0.5rem 0rem 2.5rem 0rem;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  transform: translateY(-10%);
  margin-bottom: 0rem;
}
.register {
  align-self: auto;
  font-size: 16px;
  margin: 1rem auto 4rem auto;
  color: #000000;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn button {
  font-size: 16px;
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 80%;
  color: white;
  background-color: #2d7e48;
  padding: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: #81d19d;
  transition: all 0.2s ease;
}

label {
  font-size: 16px;
  color: #72c28e;
}

.range-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}