<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Boas vindas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Boas vindas, <span th:text="${usuario.nome}"></span><br>
        Seu nome de usuário é: <span th:text="${usuario.username}"></span><br>
        seu id é: <span th:text="${usuario.id}"></span><br>
        Sua senha é: <span th:text=" ${usuario.senha}"></span>
    </body>
</html>
