<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" th:href="@{css/styles.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <span class="teste">Teste</span>
      <form
        action="#"
        th:action="@{/cadastro-plantas}"
        th:object="${plantas}"
        method="post"
      >
        <div>
          <label for="">Nome da planta</label>
          <input type="text" th:field="*{nome}" />
        </div>
        <label for="">Dias para regar</label>
        <div><input type="checkbox" /><label for="">Domingo</label></div>
        <div><input type="checkbox" /><label for="">Segunda</label></div>
        <div><input type="checkbox" /><label for="">Terça</label></div>
        <div><input type="checkbox" /><label for="">Quarta</label></div>
        <div><input type="checkbox" /><label for="">Quinta</label></div>
        <div><input type="checkbox" /><label for="">Sexta</label></div>
        <div><input type="checkbox" /><label for="">Sábado</label></div>
        <button value="submit">Cadastrar planta</button>
      </form>
    </div>
  </body>
</html>
