<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <title>Homepage</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>Página inicial</div>
    <div><a href="/cadastro">Cadastro de usuário</a></div>
    <div><a href="/login">Login</a></div>
    <div><a href="/plantas">Plantas</a></div>
    <div><a href="/cadastro-plantas">Cadastro de plantas</a></div>
  </body>
</html>
