<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <form action="" method="post">
        <div>
          <!-- <input type="radio" id="domingo" name="semana" th:field="*{type}" value="domingo" th:value="${ty}" /> -->
          <input type="radio" id="domingo" name="semana"  value="domingo"/>
          <label for="segunda">Domingo</label>
        </div>
        <div>
          <input type="radio" id="segunda" name="semana" value="segunda" />
          <label for="segunda">Segunda</label>
        </div>
        <div>
          <input type="radio" id="terca" name="semana" value="terca" />
          <label for="segunda">Terça</label>
        </div>
        <div>
          <input type="radio" id="quarta" name="semana" value="quarta" />
          <label for="segunda">Quarta</label>
        </div>
        <div>
          <input type="radio" id="quinta" name="semana" value="quinta" />
          <label for="segunda">Quinta</label>
        </div>
        <div>
          <input type="radio" id="sexta" name="semana" value="sexta" />
          <label for="segunda">Sexta</label>
        </div>
        <div>
          <input type="radio" id="sabado" name="semana" value="sabado" />
          <label for="segunda">Sábado</label>
        </div>
        <div>
            <button value="summit">Ordenar</button>
        </div>
      </form>
    </div>
  </body>
</html>
